body{
 background-color: black;
 padding: 0;
 margin: 0;
}
.wrap{
  border: solid 1px white;
  margin: 0 auto;
  /*vh stands for "Viewport Height"*/
  height: 100vh;
  width: 960px;
  color: white;
}
#banner{
  height: 160px;
  background: white;
  width: 100%;
}
#mainArea{
  clear:both;
}
p{
  padding: 10px;
}
section{
  width: 50%;
  background: grey;
  float: left;
  min-height: 88vh;
}
nav ul{
  padding-left: 0;

  border: solid 0px white
}
nav ul li{
  list-style: none;
  text-align: center;
  cursor:pointer;
  font-weight: bold;
  padding-left: 7.6px;
  width: 24%;
  float: left;
  border: solid 1px white;
}
