body{
 background-color: black;
 padding: 0;
 margin: 0;
}
.wrap{
  border: solid 1px white;
  margin: 0 auto;
  /*vh stands for "Viewport Height"*/
  height: 100vh;
  width: 960px;
  color: white;
}
nav ul{
  padding-left: 0;
  border: solid 1px white;
}
nav ul li{
  list-style: none;
}
#banner{
  height: 150px;
  background: white;
  width: 100%;
}
